<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Glycans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    

    
    
    <div align="left" style="margin-top: 20px">
        <table id="MyTable" class="table table-bordered border-primary">
                <thead>
                        <tr>
                            <th class="not_mapped_style" style="text-align:center">Glycan Image</th>
                                <th class="not_mapped_style" style="text-align:center"><a th:href="@{'/search/' + ${currentPage} + '?sortField=databaseid&sortDir=' + ${reverseSortDir}}">Database ID</a></th>
                                <th class="not_mapped_style" style="text-align:center"><a th:href="@{'/search/' + ${currentPage} + '?sortField=oxford&sortDir=' + ${reverseSortDir}}">Oxford/compositon</a></th>
                                <th class="not_mapped_style" style="text-align:center"><a th:href="@{'/search/' + ${currentPage} + '?sortField=neutralmass&sortDir=' + ${reverseSortDir}}">Neutral mass</a></th>
                                <th class="not_mapped_style" style="text-align:center">CCS information</a></th>
                                <th class="not_mapped_style" style="text-align:center">Update Entry</th>
                        </tr>
                </thead>
                <tbody>
                <!-- You can access model attributes which are added in a Controller(GlycanController.java) with ${attributeName}.
                         In this case, it is "${listGlycans}".
                     To show all glycans data in this table, you need to use "th:each" in the thymeleaf template and iterate the glycan of listGlycans -->	
                <tr th:each="glycan: ${glycans}">

                    <td>
                        <a id="photoButton" class="fragmentation" th:href="@{'/img/glycans/' + ${glycan.databaseID} + '.png'}">
                        <img th:src="@{'/img/glycans/' + ${glycan.databaseID} + '.png'}" style="width: 150px" id="clicktofragment" title="Click to enlarge image" onerror="this.onerror=null;this.src='/img/glycans/errorMessageWrongExtension3.png';"/>
                        </a>
                        
                    </td> <!-- This manages to bypass the pagination error where images not pathed properly. Dynamically displays image based on oxford number!, just match property to imgname in static, removed column glycan_photo from sql, add back if needed. Either this or 
                    <td> <a th:href="@{'/img/glycans/' + ${glycan.databaseID} + '.png'}"></a></td> -->
                    
                    <td th:text="${glycan.databaseID}"></td>
                    
                    <td th:text="${glycan.oxford}"></td>
                    <td th:text="${glycan.neutralmass}"></td>
                    <td>
                        
                        <form th:action="@{/intact}" method="POST" enctype="multipart/form-data">


                            <div class="intactButton">  
                                <input name="glycanid" th:value="${glycan.databaseID}" class="btn btn-success btn-sm" title="Click to fragment glycan" style="display:none"></input>                

                            </div>     

                            <button class="btn btn-success btn-sm" th:value="${glycan.databaseID}" title="Click to fragment glycan" id="intactbutton">Intact</button>
                        </form>
                        <br>
                        <form th:action="@{/fragments}" method="POST" enctype="multipart/form-data">


                            <div class="fragmentButton">  
                                <input name="glycanid" th:value="${glycan.databaseID}" class="btn btn-success btn-sm" title="Click to fragment glycan" style="display:none"></input>                

                            </div>     

                            <button class="btn btn-success btn-sm" th:value="${glycan.databaseID}" title="Click to fragment glycan" id="fragbutton">Fragment</button>
                        </form>
                        
                    </td>

                </tr>
            </table>
        </tbody>
                        
                        
                        
</body>

</html>